- var social = author.profiles.facebook ? 'facebook' : 'twitter';
.content.container.clearfix
	.row
		.banner.clearfix
			.span6.alpha.issue-content
				a.nav.left(href='')
				a.nav.right(href='')
				h2= element.title
				p.issue-content-description= element.abstract
				//- a.delegate(href='')
				//- 	| Prefiero delegar mi voto a otra persona
				//- 	i
				p
					a(href="").full-read Leer Completo
			.span5.omega
				- if(vote.choices.length) {
					- vote.choices.forEach(function(choice) {
					div.vote-option
						.vote-option-left
							span
								input(type="radio")
							= choice.idea.title
						a(href="").full-read Leer Completo
					-	});
				- }
				input.votar(value="Votar", type="submit")

		.clearfix

		.span4
			.information.box.append-bottom
				| Esta #{elementType.toLowerCase()} se encuentra en proceso de 
				strong validacion 
				| y la han visto 
				strong 1202 personas
				| .
			.box.append-bottom.autor-ley
				h5
					i
					| Autor de la #{elementType.toLowerCase()}
				.box-content
					ul
						li
							a.avatar(href='')
								img(src=author.imageUrl)
							a.username(href=author.profiles[social].profileUrl, target="_blank")
								| #{author.fullName}
							
							a(href="https://twitter.com/gravityonmars", class="twitter-follow-button", data-show-count="false", data-show-screen-name="false") Follow @gravityonmars
							script
								!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

			.leyes-similares.append-bottom.box
				h5
					i
					| #{elementType}s Similares
				
				ul
					li
						a(href='') Despenalizaci贸n del aborto
					li
						a(href='') Expropiaci贸n de YPF
					li
						a(href='') Fertilizaci贸n asistida
					li
						a(href='') Modificaci贸n de la carta o...
					li
						a(href='') Muerte Digna 
					li
						a(href='') Transferencia de los subte...
		
		include element/comments