- var social = author.profiles.facebook ? 'facebook' : 'twitter';
.container.clearfix
	.row
		.span9
			.banner.clearfix.box
				.issue-content.alpha
					
					a.nav.left(href='')
					a.nav.right(href='')
					
					h4.issue-title Problematica
					h2= element.title
					p.issue-content-description= element.abstract
					
					#issue-full.modal(role="dialog", style="display:none;")
						.modal-header
							button.close(type="button", data-dismiss="modal", aria-hidden="true") x
							h2= element.title
						.modal-body
							p.issue-content-description= element.abstract
							p.issue-content-description= element.essay
						.modal-footer
							button.btn(type="button", data-dismiss="modal", aria-hidden="true") Cerrar
					p
						a(data-toggle="modal", role="button", href="#issue-full").full-read Leer Completo
		
		.block-ideas.box.clearfix
			- if(typeof(vote) != 'undefined' && vote.choices.length) {
				- if(vote.voters.indexOf(citizen.id) >=0 )  {
					- var voted = true;
				- };
				- if(!voted) {
					.span9
						a.delegate(href='')
							| Prefiero delegar mi voto a otra persona
							i
						h3.block-title.title-propuestas
							i.icon
							| Propuestas a votar

					- vote.choices.forEach(function(choice) {

						.span3
							.vote-option(data-issue="#{element.id}", data-choice="#{choice.id}", data-idea="#{choice.idea.id}")
								h4= choice.idea.title
								p= choice.idea.essay.substr(0,80).trim().concat('...')
								p
									a(data-toggle="modal", role="button", href="#choice-full-#{choice.id}").full-read Leer Completo
								.buttons
									- if(!voted) {
										a.vote(href="#") Votar
									- };
								
								.modal(id="choice-full-#{choice.id}", role="dialog", style="display:none;")
									.modal-header
										button.close(type="button", data-dismiss="modal", aria-hidden="true") x
										h2= choice.idea.title
										//- h4 Propuesta ideada por #{choice.idea.authors[0].fullname}
									.modal-body
										p.issue-content-description= choice.idea.essay
									.modal-footer
										button.btn(type="button", data-dismiss="modal", aria-hidden="true") Cerrar
					-	});
						.span3
							a(href="").create-idea.vote-option 
								i +
								span Crear Propuesta
				- } else {
					.span9.box.block-results
						h3.block-title 
							i.icon
							span Resultados preliminares
						.box-content.clearfix
							- var totalVoters = vote.voters.length || 1;
							- vote.choices.forEach(function(choice) {
								.partial(style="width:100%;float:left;")
									- var partial = choice.result / totalVoters * 100;
									h5
										a(data-toggle="modal", role="button", href="#results-choice-full-#{choice.id}")
											| #{choice.idea.title}
									.bar(style="width:#{partial}%;")
										span
											| #{partial} %
									.modal(id="results-choice-full-#{choice.id}", role="dialog", style="display:none;")
										.modal-header
											button.close(type="button", data-dismiss="modal", aria-hidden="true") x
											h2= choice.idea.title
										.modal-body
											p.issue-content-description= choice.idea.essay
										.modal-footer
											button.btn(type="button", data-dismiss="modal", aria-hidden="true") Cerrar
							- });
				- };
			- }

			include element/comments