extends layout

block content
	.container.page-homepage
		.row
			.span9
				.welcome
					h1	Partido de la red
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra nisl a nisl faucibus molestie. Aliquam ac elit odio. Nunc commodo mi vitae ipsum tempus egestas.


		.row.box-homepage-list
			- issues.forEach(function(issue) {
				.box-homepage
					h5(style="background-color:#{categories[issue.category].color}")= categories[issue.category].name
					.box-content
						h4 
							a(href="/issues/#{issue.id}")= issue.title
						p= issue.abstract

					.users
						a(href="/profiles/#{issue.author.id}", rel="tooltip", title="#{issue.author.fullName}", data-placement="bottom", class="tt")
							img(src="#{issue.author.imageUrl}")
						- issue.census.reverse();
						- issue.census.every(function(cz, idx) {
								- if(cz.id == issue.author.id) return true;
								a(href="/profiles/#{cz.id}", rel="tooltip", title="#{cz.fullName}", data-placement="bottom", class="tt")
									img(src="#{cz.imageUrl}")
								- return idx < 5;
						-	});
					a(href="/issues/#{issue.id}").arrow
			-	});
		.clear