extends layout

block content
	.container.page-homepage
		.row
			.span9
				.welcome
					h1	Partido de la red
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur viverra nisl a nisl faucibus molestie. Aliquam ac elit odio. Nunc commodo mi vitae ipsum tempus egestas.


		.row.box-homepage-list
			- issues.forEach(function(issue) {
				.span3
					.box-homepage
						h5= categories[issue.category]
						.box-content
							h4 
								a(href="/issues/#{issue.id}")= issue.title
							p= issue.abstract

						.users
							a(href="/profiles/#{issue.author.id}", rel="tooltip", title="#{issue.author.fullName}", data-placement="bottom", class="tt")
								img(src="#{issue.author.imageUrl}")
								//- Faltan los usuarios en comentarios!!
			-	});
		.clear