extends layout

block content
	.container.page-homepage
		.row
			.span9
				.welcome
					h1 Partido de la red
					h4 Prototipo #1
					p Este software tiene el objetivo de abrir el ancho de banda de la democracia bajo la siguiente premisa:
					p: em No alcanza con votar cada dos años si podemos expresarnos todos los días usando la red.

		.row.box-homepage-list
			- issues.forEach(function(issue) {
				.box-homepage
					h5(style="background-color:#{categories[issue.category].color}")= categories[issue.category].name
					.box-content
						h4 
							a(href="/issues/#{issue.id}")= issue.title
						p= issue.abstract

					.users
						a(href="/profiles/#{issue.author.id}", rel="tooltip", title="#{issue.author.fullName}", data-placement="bottom", class="tt")
							img(src="#{issue.author.imageUrlMini}")
						- issue.census.reverse();
						- issue.census.every(function(cz, idx) {
								- if(cz.id == issue.author.id) return true;
								a(href="/profiles/#{cz.id}", rel="tooltip", title="#{cz.fullName}", data-placement="bottom", class="tt")
									img(src="#{cz.imageUrlMini}")
								- return idx < 4; // five extra avatars
						-	});
					a(href="/issues/#{issue.id}").arrow
			-	});
		.clear