extends layout


block content
  - var social = author.profiles.facebook ? 'facebook' : 'twitter';

  .content.container.clearfix
      .row
          .span12
            .banner
              a.nav.left(href='')
              a.nav.right(href='')
              h2= idea.title
     
              p(style="padding-top:20px")= idea.description
              a.delegate(href='')
                | Prefiero delegar mi voto a otra persona
                i
          .span4
            .information.box.append-bottom
              | Esta idea se encuentra en proceso de
              strong validacion
              | y la han visto
              strong 1202 personas
              | .
            .box.append-bottom.autor-ley
              h5
                i
                | Autor de la idea
              ul
                li
                  a.avatar(href='')
                    img(src="http://avatars.io/#{social}/" + author.profiles[social].username)
                  a.username(href=author.profiles[social].profileUrl, target="_blank")
                    | #{author.firstName} #{author.lastName}
                    //- em(style="clear:both;")= author.city ? author.city.name : "Ciudadano Mundial"
                  a.follow(href='') Seguirlo

            .leyes-similares.append-bottom.box
              h5
                i
                | Ideas Similares
              ul
                li
                  a(href='') Despenalizaci贸n del aborto
                li
                  a(href='') Expropiaci贸n de YPF
                li
                  a(href='') Fertilizaci贸n asistida
                li
                  a(href='') Modificaci贸n de la carta o...
                li
                  a(href='') Muerte Digna 
                li
                  a(href='') Transferencia de los subte...
          .comments.span8
            article.box.clearfix
              h5
                i
                | Comentarios sobre la problematica "
                em=idea.title
                | "
              .quick-reply
                textarea(placeholder='Tu opinion aqui')
                p
                  a(href="") Adjuntar propuesta
                input.btn(type='submit', value='Responder')
              section.comment.question
                .avatar
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
                .right
                  .postmeta
                    span.time 3 dias
                  span.name Ricardo Rauch
                  span.location de Capital Federal
                  p
                    | La mejor forma de Luchar contra el narcotrafico es LEGALIZARLO. De esa forma lo exponemos a las leyes nacionales y no a las de la calle, lo protejera la policia y no los matones. Por supuesto que los principales perjudicados economicamente seran los NARCOTRAFICANTES.
                  a.reply(href='')
                    i
                    | Responder
              section.comment.answer
                .avatar
                  img(src='https://twimg0-a.akamaihd.net/profile_images/2348101213/ijlfcrcag5psron3scez_normal.png')
                .right
                  .postmeta
                    span.time 3 dias
                  span.name Santiago Siri
                  span.location de Capital Federal
                  p y de qie la policia nos deje de sacar plata porque fumamos marihuana
                  a.reply(href='')
                    i
                    | Responder
              section.comment.answer.last
                .avatar
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
                .right
                  .postmeta
                    span.time 3 dias
                  span.name Ricardo Rauch
                  span.location de Capital Federal
                  p
                    | Si se legaliza deja de ser nacotrafico ya no va a existir el trafico si es lega...
                  a.reply(href='')
                    i
                    | Responder
              section.comment.question
                .avatar
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
                .right
                  .postmeta
                    span.time 3 dias
                  span.name Ricardo Rauch
                  span.location de Capital Federal
                  p
                    | La mejor forma de Luchar contra el narcotrafico es LEGALIZARLO. De esa forma lo exponemos a las leyes nacionales y no a las de la calle, lo protejera la policia y no los matones. Por supuesto que los principales perjudicados economicamente seran los NARCOTRAFICANTES.
                  a.reply(href='')
                    i
                    | Responder
              section.comment.answer
                .avatar
                  img(src='https://twimg0-a.akamaihd.net/profile_images/2348101213/ijlfcrcag5psron3scez_normal.png')
                .right
                  .postmeta
                    span.time 3 dias
                  span.name Santiago Siri
                  span.location de Capital Federal
                  p y de qie la policia nos deje de sacar plata porque fumamos marihuana
                  a.reply(href='')
                    i
                    | Responder
              section.comment.answer
                .avatar
                  img(src='https://twimg0-a.akamaihd.net/profile_images/1837887923/Photo_on_1-26-12_at_6.39_PM__2_reasonably_small.jpg')
                .right
                  .postmeta
                    span.time 3 dias
                  span.name Ricardo Rauch
                  span.location de Capital Federal
                  p
                    | Si se legaliza deja de ser nacotrafico ya no va a existir el trafico si es lega...
                  a.reply(href='')
                    i
                    | Responder