extends layout_profile

block profile_content

  h3 Delegaciones
  p 
    | La delegación es una herramienta que permite a los ciudadanos ceder su poder de voto a personas en las que sólo él confía y tomar decisiones por éste en materias en las que no se especializa.
    | Toda delegación puede ser inmediatamente destituíad cuando el ciudadano así lo desee. Pero toda acción debidamente ejecutada es irreversible.

  form(action="/delegation/process", method="post")
  - each category, cid in categories
    .deletagation-item.clearfix
      label= category.name
      input.delegation-input(type="text", name="delegation-#{cid}", data-category="#{cid}", value="")

block custom_js
    - each category, cid in categories
      script
        $('.delegation-input[data-category="#{cid}"]').tokenInput('/api/profiles', {
          theme: 'facebook',
          preventDuplicates: true,
          prePopulate: !{JSON.stringify(userCategoryDelegations[cid] || [])},
          onAdd: function(item) {
            PDR.api.delegations.create({
              tid: item.id,
              category: $(this).data('category') || ''
            }, function(err, result) {
              if(err) console.log(err); //should remove recently added trustee
              // result?
            });
          },
          onDelete: function(item) {
            PDR.api.delegations.del({
              tid: item.id,
              category: $(this).data('category') || ''
            }, function(err, result) {
              if(err) console.log(err); //should remove recently added trustee
              // result?
            });
          }
        });