section.comment.question.clearfix
  .avatar
    img(src=comment.author.imageUrl)
  .right
    .postmeta
      span.time(title=comment.createdAt.toISOString())
    span.name= comment.author.fullName
    != md(comment.text)
    - var commentInitiative = comment.metadata ? comment.metadata.initiative : {};
    - if(commentInitiative.choice) {
      a.idea-attachment(data-toggle="modal", role="button", href="#choice-full-#{commentInitiative.choice}") 
        i 
        span El usuario adjunto la propuesta: 
        strong #{commentInitiative.idea.title}
    - }
    a.reply(href='')
      i
      | Responder
    .comment-reply-form(style="display:none;")
      include comment_form
- comment.replies.forEach(function(reply, idx) {
  - var last = (idx == comment.replies.length - 1) ? 'last' : '';
  //- adds class "last" to last element
  include comment_reply_single
- });
