.span4
  .information.box.append-bottom
    | Esta #{elementType.toLowerCase()} se encuentra en proceso de 
    strong validacion 
    | y la han visto 
    strong 1202 personas
    | .
  .box.append-bottom.autor-ley
    h5
      i
      | Autor de la #{elementType.toLowerCase()}
    ul
      li
        a.avatar(href='')
          img(src="http://avatars.io/#{social}/" + author.profiles[social].username)
        a.username(href=author.profiles[social].profileUrl, target="_blank")
          | #{author.fullName}
          //- em(style="clear:both;")= author.city ? author.city.name : "Ciudadano Mundial"
        a.follow.twitter-follow.button(href='https://twitter.com/gravityonmars', data-show-count="false") Seguirlo
  .leyes-similares.append-bottom.box
    h5
      i
      | #{elementType}s Similares
    ul
      li
        a(href='') Despenalizaci贸n del aborto
      li
        a(href='') Expropiaci贸n de YPF
      li
        a(href='') Fertilizaci贸n asistida
      li
        a(href='') Modificaci贸n de la carta o...
      li
        a(href='') Muerte Digna 
      li
        a(href='') Transferencia de los subte...
